h1 {
    color: #fff;
    z-index: 100;
    text-transform: uppercase;
}

.Name {
    margin: auto;
    margin-top: 20%;
    margin-left: 27%;
    text-align: center;
    width: 100%;
}
@media screen and (max-width: 900px) {
    .Name {
        margin-left: 50px;
        margin-top: 15%;
        width: 70%;
    }
 }